<%= form_for(@comentario) do |f| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% @comentario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :placa %><br>
    <%= f.text_field :placa %>
  </div>
  <div class="field">
    <%= f.label :coment %><br>
    <%= f.text_area :coment %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br>
    <%= f.number_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :buen_comentario %>
    <%= f.check_box :buen_comentario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
